#form {
    margin-top: 2.75rem;
    display: flex;
    gap: 1rem;
}

#task {
    font: 600 var(--fs-label)/2rem var(--ff);
    border: 2px solid var(--border-primary);
    border-radius: 0.75rem;
    padding: 0.625rem 1.125rem;
    flex: 1;
    color: var(--content-primary);
    background-color: var(--background-secondary);

}

#task::placeholder {
    color: var(--content-tertiary);
}

#task:focus,
#task:focus-within {
    border-color: var(--color-brand);
    outline: none;
}

#task:focus::placeholder,
#task:focus-within::placeholder {
    color: var(--content-primary);
}

.btn-add {
    font: 600 var(--fs-label)/2rem var(--ff);
    background-color: var(--color-brand);
    color: var(--always-white);
    padding: 0.75rem 1.5rem;
    border: 0;
    border-radius: 0.75rem;
    transition: all 0.5s;
    cursor: pointer;
}

.btn-add:hover {
    background-color: var(--color-brand-hover);
}

@media (max-width: 768px) {
    #form {
        flex-direction: column;
    }
}